body{
    font-family: emoji;
}

video{
    object-fit: cover;
  width: 100% ;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.content {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    text-align: center;
    padding-top: 15rem;
  }

 .content .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 30vh;
 }

 /* button css start region */

 .content #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background:transparent;
    color: #fff;
    cursor: pointer;
    border: 3px solid white;
  }
  
  .content #myBtn:hover {
    background: #ddd;
    color: black;
  }

  /* animations of colors on button */
 .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background:transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    border: 3px solid white;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #111; */
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* button css end region */



/* media quries  start region */

@media only screen and (min-width: 320px){
    .content h1{
        font-size: 2.5rem;
      } 
}



@media only screen and (min-width: 768px){
    .content h1{
        font-size: 3.5rem;
      } 
}


@media only screen and (min-width: 1024px){
    .content h1{
        font-size: 4.5rem;
      } 
}

@media only screen and (min-width: 1440px){
    .content h1{
        font-size: 5.5rem;
      } 
}

@media only screen and (min-width: 2560px){
    .content h1{
        font-size: 9.5rem;
      } 
}

/* media quries end region */
